body {
  font-family: 'Alatsi', sans-serif;
  margin: 0;
  overflow: hidden;
  background: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.title { 
  position:absolute;
  font-size: 8vw;
  color: white;
}

canvas {
  width: 100vw;
  height: 100vh;
}
.sub-header{
  font-size: 2vw;
  position:relative;
  color: white;
  top: 9vh;
}
.myNav {
  display: block;
  height: 50px;
  line-height: 50px;
  background-color: black;
}
/* Remove bullets, margin and padding */
.myNav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  transform: translateY(-20%);
}
.myNav li {
  float: left;
  color:white;
  /* Or you can use display: inline; */
}
/* Define the block styling for the links */
.myNav li a {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
}